{{ $baseurl := .Site.BaseURL }}
<!DOCTYPE html>
<html lang="tw">
  <head>
  <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ $baseurl }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ $baseurl }}/css/sticky-footer.css" rel="stylesheet">
    <link href="{{ $baseurl }}/css/site.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body data-spy="scroll" data-target="#sidemenu">
  {{ template "chrome/topmenu.html" . }}
  {{ template "chrome/sidemenu.html" . }}
  <div id="wrap">
    <div class="container">
       <div class="row">
          <div class="col-md-8 col-md-offset-1">
             {{ .Content }}
          </div>
       </div>
    </div>
 </div>
      {{ template "chrome/footer.html" . }}


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ $baseurl }}/bootstrap/js/bootstrap.min.js"></script>
    <script>
      $("#sidemenu-topnav").addClass('currentul');
      $("#sidemenu").prepend("<h3>目錄</h3>");
      $("h2, h1, .MonsterName, .SpellName").each(function(i) {
          var current = $(this);
          current.attr("id", "title" + i);
          var tag = current.prop("tagName");
          
          var link_text = current.html();
          if(current.context.className=="MonsterName" || current.context.className=="SpellName"){
            link_text = link_text.replace(/\<span class=\"Tags\"\>.*\<\/span\>/g, "");
          }

          const eng_text = link_text.match(/\((.*)\)/)? link_text.match(/\((.*)\)/)[1]: link_text;
          link_text = link_text.replace(/\(.*\)/, "");

          if(tag=="H2" || tag=="H3"){
            link_text = " - "+link_text;
          }
          /*
          var nexttags = current.nextAll("h1, h2, h3");
          var nexttag = nexttags.first().prop("tagName");
          var prevtags = current.prevAll("h1, h2, h3");
          var prevtag = nexttags.first().prop("tagName");
          */
          current.addClass('anchor');

          $("ul.currentul").append("<li class='currentli'><a id='link" + i + "' href='#title" +
            i + "' title='" + eng_text + "'>" + 
            link_text + "</a></li>");
      });
      $(".Tags").each(function(i) {
        var current = $(this);
        var tags_arr = current.html().split(", ");
        current.html(""+tags_arr.map(function(tag){
            var className = "";
            tag = tag.trim();
            if(isRangeTag(tag))         className = "red";
            if(isSizeTag(tag))          className = "green";
            if(isOrganizationTag(tag))  className = "blue";
            if(isSpellLevelTag(tag))    className = "purple";
            return `<tag class="${className}">${tag}</tag>`;
          }).join(" "));
      });
      $("#names p").each(function(i) {
        var names_match = $(this).html().match(/(.+\: )(.+)/);
        if( names_match == null || names_match.length<3 ) return ;
        
        var names_head = names_match[1];
        var names_arr = names_match[2].split(", ").map(context => {
          const name_match = context.match(/(.+)\((\w+)\)/);
          return name_match? `<n title="${name_match[2]}">${name_match[1]}</n>`: context;
        });

        $(this).html(names_head + names_arr.join(", "));
      });

      function isSpellLevelTag(tag){
        return (tag.match(/等級 \d+|禱念|戲法|Level \d+|Rote|Cantrip/))? true: false;
      }
      function isRangeTag(tag){
        return (tag.match(/觸及|近身|及遠|短程|遠程|Hand|Close|Reach|Near|Far/))? true: false;
      }
      function isSizeTag(tag){
        return (tag.match(/微型|小型|大型|巨型|Tiny|Small|Large|Huge/))? true: false;
      }
      function isOrganizationTag(tag){
        return (tag.match(/成群|集團|單獨|Horde|Group|Solitary/))? true: false;
      }
    </script>
  </body>
</html>
